body {
  color: white;
  background-color: #121212;
  font-family: 'Space Mono', monospace;
  margin: 0px 0px;
  padding: 0px 0px;  
}

h1 {
  font-family: 'Press Start 2P', cursive;
}

.MarketTicker, #HyperParameters {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  background-color: grey;
}

#HyperParameters > div, .MarketTicker > div {
  flex: 50%;
}

.MarketTicker {
  height: 75px;
}

table {
  width: 100%;
  background-color: orange;
}

.balanceTicker {
  padding-left: 20px;
  padding-top: 1px;
}

#balance {
  font-size: xx-large;
}

button {
  margin-right: 10px;
  border: 0px solid black;
  border-radius: 5px; 
  font-size: medium;
}

.HistoryTicker {
  border-bottom: 1px solid white;
}

#history {
  visibility: hidden;
  display: none;
}

#expandhistory{
  font-size: xx-large;
  width: 50px;
}

#VisualButton {
  position: absolute;
  top: 8px;
  right: 16px;
}

.IndexText {
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
}